*{
	font-family:'Courier New';

}

body{
	margin: 0;
	padding: 0;

}

.header{
	margin: 50px auto;
	padding:0;
	width: 75%;
	border: none;
}
.footer{
	margin: 50px auto;
	padding:0;
	width: 75%;
	border: none;
}
.footer a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
a:hover{
	opacity: .5;
	
}

.header h1 {
	font-size:50px;
	margin:-5px;
}

.header h2{
	font-size: 20px;
	font-weight: lighter;
}

form{
	font-size:40;
	margin-top:40px;
}
#subject{
	font-size: 1em;
	width: 300px;
	font-family:'Courier New' !important;
	border-bottom: 3px solid #000 !important; 
	border-top: none;
	border-right: none;
	border-left: none;
}
.tweets{
	text-transform:capitalize;
	font-size: 1.8em;
}
#cta{
	font-size: 2.5em;
}
#searchTerm{
	font-size: 2.5em;
	font-weight: bold;
	text-transform:capitalize;
}